@using BlazorWebApp.Components.Layout
<Router AppAssembly="typeof(Program).Assembly">
    <Found Context="routeData">
         <AuthorizeRouteView RouteData="routeData" DefaultLayout="@typeof(Layout.MainLayout)">
            <Authorizing>
                Loading
            </Authorizing>
            <NotAuthorized>
                @if (!context.User.Identity!.IsAuthenticated)
                {
                    <RedirectToLogin/>
                }
                else
                {
                    <p>You are not authorized to access this resource.</p>
                }
            </NotAuthorized>
        </AuthorizeRouteView>
        <FocusOnNavigate RouteData="routeData" Selector="h1" />
    </Found>
</Router>
