@page
@addTagHelper *, NetEscapades.AspNetCore.SecurityHeaders.TagHelpers
@model BlazorWebFromBlazorServerOidc.Pages.SignedOutModel
@{
    ViewData["Title"] = "SignedOut";
}

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="BlazorWebFromBlazorServerOidc.styles.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Blazor Server OIDC</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                        <a href="api/account/login?redirectUri=/">Log in</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <p>You have successfully signed out</p>
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            Signed out
        </div>
    </footer>

    <script asp-add-nonce src="js/bootstrap.bundle.min.js"></script>
    <script asp-add-nonce src="js/blazor.bootstrap.js"></script>
</body>
</html>