@inject IHostEnvironment Env
@inject BlazorNonceService BlazorNonceService
@using System.Security.Cryptography;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="BlazorWebFromBlazorServerOidc.styles.css" rel="stylesheet" />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>
<body>
    <Routes @rendermode="InteractiveServer" />

    <script nonce="@BlazorNonceService.Nonce" src="_framework/blazor.web.js"></script>
</body>
</html>

@code
{
    [CascadingParameter] HttpContext Context { get; set; } = default!;

    protected override void OnInitialized()
    {
        var nonce = GetOrCreateNonce();
        if (nonce != null)
        {
            BlazorNonceService.SetNonce(nonce);
        }
    }

    public string? GetOrCreateNonce()
    {
        if (Context.Items.TryGetValue("nonce", out var item) && item is string nonce and not null)
        {
            return nonce;
        }

        return null;
    }
}
