@inject IHostEnvironment Env
@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="BlazorWebFromBlazorServerOidc.styles.css" rel="stylesheet" />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>
<body>
    <Routes @rendermode="InteractiveServer" />

    <script nonce="@GetNonce()" src="_framework/blazor.web.js"></script>
</body>
</html>

@code {

    private string GetNonce()
    {
        var nonce = string.Empty;
        Microsoft.Extensions.Primitives.StringValues nonces;
        var found = HttpContextAccessor.HttpContext!.Response.Headers.TryGetValue("Content-Security-Policy", out nonces);

        if(found)
        {
            nonce = nonces.First();
        };

        return nonce!;
    }
}
