<AuthorizeView>
    <Authorized>
        @context.User.Identity?.Name
        <a class="nav-link text-dark" asp-area="" asp-page="/Logout">Log out</a>
    </Authorized>
    <NotAuthorized>
        <a href="login?redirectUri=/">Log in</a>
    </NotAuthorized>
</AuthorizeView>
