@inject NavigationManager NavigationManager

<div class="nav-item px-3">
    <AuthorizeView>
        <Authorized>
            <span>@context.User.Identity?.Name</span>
            <form action="api/account/logout" method="post">
                <AntiforgeryToken />
                <button type="submit" class="nav-link btn btn-link text-dark">
                    Logout
                </button>
            </form>
        </Authorized>
        <NotAuthorized>
            <a href="api/account/login?redirectUri=/">Log in</a>
        </NotAuthorized>
    </AuthorizeView>
</div>